/* box sizing*/
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden; }

/* clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

/* general */
html,
body,
section {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: .95em;
  font-weight: 400;
  letter-spacing: .025em;
  line-height: 160%;
  color: #222;
  background: #222; }
  @media screen and (max-width: 768px) {
    body {
      background: #fafafa; } }
  @media screen and (max-width: 667px) {
    body {
      background: #222; } }

h3 {
  font-weight: 700;
  font-size: 160%; }

a {
  color: #222;
  text-decoration: underline; }

a:hover {
  text-decoration: none; }

button {
  display: block;
  letter-spacing: .1em;
  padding: 10px 20px;
  border: none;
  border-radius: 4px; }
  @media screen and (max-width: 667px) {
    button {
      padding: 10px; } }

.hide {
  display: none; }

/* nav */
nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 10%;
  background: #222; }
  @media screen and (max-width: 667px) {
    nav {
      padding: 0 3%; } }

nav ul,
#home ul {
  list-style-type: none;
  text-align: center;
  margin-left: -40px; }

nav li,
#home li {
  display: inline;
  padding: 0 75px; }
  @media screen and (max-width: 667px) {
    nav li,
    #home li {
      padding: 0 30px; } }

nav li a,
#home li a {
  color: #fff;
  text-decoration: none; }

nav li a:hover,
#home li a:hover {
  text-decoration: underline; }

.active {
  text-transform: uppercase; }

.active:hover {
  text-decoration: none; }

/* home */
#home {
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  background: #222; }

#home .container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
  -webkit-font-smoothing: antialiased;
  /* fixes wonky fonts in transforms */ }
  @media screen and (max-width: 667px) {
    #home .container {
      position: relative;
      top: 0;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0); } }
  @media screen and (max-width: 667px) {
    #home .container {
      padding: 0 5%; } }

#home h2 {
  font-size: 500%;
  font-weight: 700;
  line-height: 100%;
  padding-bottom: 15px; }
  @media screen and (max-width: 667px) {
    #home h2 {
      font-size: 300%;
      padding: 75px 0 30px 0; } }

#home p {
  font-size: 225%; }
  @media screen and (max-width: 768px) {
    #home p {
      font-size: 175%;
      line-height: 125%; } }
  @media screen and (max-width: 667px) {
    #home p {
      font-size: 150%;
      padding: 0 13%; } }

#home ul {
  padding-top: 150px; }
  @media screen and (max-width: 667px) {
    #home ul {
      padding-top: 100px; } }

#home li {
  font-size: 150%;
  font-weight: 600; }

/* work */
#work {
  position: relative;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 667px) {
    #work {
      height: auto;
      padding-top: 50px; } }

@media screen and (max-width: 667px) {
  #work h3 {
    font-size: 140%;
    text-align: center; } }

#learnerator {
  position: absolute;
  top: 0;
  left: 0; }

#learnerator .overlay {
  background-image: url("../img/ipad-mockup.jpg"); }

#inscites {
  position: absolute;
  top: 0;
  left: 33.33%; }

#inscites .overlay {
  background-image: url("../img/iphone-mockup.png"); }

#jdominiak {
  position: absolute;
  top: 0;
  left: 66.66%; }

#jdominiak .overlay {
  background-image: url("../img/macbook-mockup.jpg"); }

@media screen and (max-width: 667px) {
  #learnerator,
  #inscites,
  #jdominiak {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; } }

.workItem {
  position: relative;
  width: 33.33%;
  height: 100%; }
  @media screen and (max-width: 667px) {
    .workItem {
      width: 100%;
      min-height: 100%; } }

.overlay {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  -webkit-filter: opacity(0.9) grayscale(100%) brightness(85%);
          filter: opacity(0.9) grayscale(100%) brightness(85%); }
  @media screen and (max-width: 667px) {
    .overlay {
      height: 300px;
      -webkit-filter: opacity(1) grayscale(0%) brightness(100%);
              filter: opacity(1) grayscale(0%) brightness(100%); } }

.overlay:hover,
.overlayHover {
  -webkit-filter: opacity(1) grayscale(25%);
          filter: opacity(1) grayscale(25%); }
  @media screen and (max-width: 667px) {
    .overlay:hover,
    .overlayHover {
      -webkit-filter: opacity(1) grayscale(0%) brightness(100%);
              filter: opacity(1) grayscale(0%) brightness(100%);
      cursor: default; } }

.workOpenButton {
  width: 200px;
  z-index: 100;
  color: #fff;
  letter-spacing: .1em;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-font-smoothing: antialiased;
  /* fixes wonky fonts in transforms */
  -webkit-filter: opacity(1);
          filter: opacity(1);
  cursor: pointer; }
  @media screen and (max-width: 667px) {
    .workOpenButton {
      position: relative;
      top: 0;
      left: 0;
      ttransform: translate(0%, 0%); } }

.workOpenButton:Hover {
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8); }

.description {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  color: #222;
  padding: 15% 25% 40px 25%;
  background: #cccedc; }
  @media screen and (max-width: 1024px) {
    .description {
      padding: 18% 12% 0 12%; } }
  @media screen and (max-width: 768px) {
    .description {
      padding: 25% 15% 0 15%; } }
  @media screen and (max-width: 667px) {
    .description {
      position: relative;
      padding: 5%;
      background: #fff; } }

@media screen and (max-width: 667px) {
  .description.hide {
    display: block; } }

.description a {
  text-decoration: none; }

.description button {
  display: inline;
  color: #222;
  background: none;
  margin: 40px 40px 0 0;
  border: 3px solid #222; }
  @media screen and (max-width: 667px) {
    .description button {
      margin: 40px 20px 20px 0; } }

.description button:hover {
  color: #fff;
  background: #222; }

.bigText {
  font-size: 110%;
  font-weight: 700;
  text-transform: uppercase; }

.close {
  position: absolute;
  top: 90px;
  right: 40px;
  z-index: 50;
  font-size: 150%;
  color: #fff;
  cursor: pointer; }
  @media screen and (max-width: 667px) {
    .close {
      display: none; } }

.close:hover {
  color: #4c4c4c; }

/* about */
#about {
  position: relative;
  color: #222;
  background: #fafafa;
  margin-bottom: -80px;
  padding-bottom: 80px; }
  @media screen and (max-width: 768px) {
    #about {
      min-height: 100%; } }
  @media screen and (max-width: 667px) {
    #about {
      padding-top: 80px;
      height: auto;
      background: #dfdfdf; } }

#about h2 {
  text-align: center; }

#about p {
  padding: 5px 0; }

#about .container {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  /* fixes wonky fonts in transforms */
  padding: 0 10%; }
  @media screen and (max-width: 667px) {
    #about .container {
      position: relative;
      top: 0;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0); } }
  @media screen and (max-width: 667px) {
    #about .container {
      padding: 0 3%; } }
  @media screen and (max-width: 768px) {
    #about .container {
      padding: 160px 12% 0 12%; } }
  @media screen and (max-width: 667px) {
    #about .container {
      padding: 0 5%; } }

.floatLeft {
  width: 50%;
  float: left;
  padding-right: 40px; }
  @media screen and (max-width: 768px) {
    .floatLeft {
      width: 100%;
      float: none;
      padding-right: 0; } }

.floatLeft p:last-child {
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 54%; }
  @media screen and (max-width: 768px) {
    .floatLeft p:last-child {
      font-weight: normal;
      text-align: left;
      position: relative;
      top: 0;
      left: 0; } }

.floatRight {
  width: 50%;
  float: left;
  padding-left: 40px; }
  @media screen and (max-width: 768px) {
    .floatRight {
      width: 100%;
      float: none;
      margin-bottom: 80px;
      padding: 40px 0 160px 0; } }
  @media screen and (max-width: 667px) {
    .floatRight {
      margin-bottom: 0;
      padding: 20px 0 20px 0; } }

.dogImage {
  position: fixed;
  bottom: 50px;
  right: 53%;
  z-index: 100; }

.dogHover {
  cursor: crosshair; }

.dogImage img {
  border-radius: 4px; }

footer {
  width: 100%;
  height: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 10%; }
  @media screen and (max-width: 768px) {
    footer {
      padding: 0 12%; } }

footer p {
  font-size: 75%;
  line-height: 140%;
  text-align: center; }
